# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Database and secrets
channels.json
*.db
*.sqlite

# Logs
*.log

# Other
.idea/
*.swp
